.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.logoContainer {
    width: 220px;
    padding: 0 20px;
}

.logoContainer img {
    max-width: 130px;
}

.middleContainer {
    width: 720px;
    margin: 0 10px;
}

.userContainer {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}

.userInfo {
    display: flex;
    font-size: 20px;
}