.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.logoContainer {
    width: 300px;
}

.logoContainer img {
    max-width: 130px;
    margin-left: 30px;
}

.middleContainer {
    width: 600px;
}

.userContainer {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}

.userInfo {
    display: flex;
    font-size: 20px;
}