.header {
    grid-area: h;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    max-width: 150px;
    margin-left: 40px;
}

.loginBlock {
    margin: 20px;
    font-size: 20px;
}