.nav {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.mainNav {
    height: auto;
    margin: 10px;
}

.item {
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

a {
    color: #afafaf;
    text-decoration: none;
}

a:hover {
    color: white;
}

span {
    margin-left: 10px;
}

a.activeLink {
    color: #09d9fe;
}