.nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.mainNav {
    height: auto;
}

.item {
    font-size: 22px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

a {
    color: #dedede;
    text-decoration: none;
}

a:hover {
    color: white;
}

.navText {
    margin-left: 10px;
}

a.activeLink {
    color: skyblue;
}