.descriptionBlock {
    display: flex;
    justify-content: space-around;
}

.photoBlock {
    display: flex;
    flex-direction: column;
}

.userInfo button{
    margin-top: 15px;
}

.choosePhoto {
    margin-bottom: 15px;
}

.mainPhoto {
    max-width: 200px;
    border-radius: 100%;
    margin-bottom: 15px;
}

.contact {
    padding-left: 10px;
}