.descriptionBlock {
    display: flex;
    justify-content: space-around;
}

.photoBlock {
    display: flex;
    flex-direction: column;
}

.userInfo button{
    margin-top: 15px;
}

input[type="file"] {
    display: none;
}

.photo {
    position: relative;
    text-align: center;
}

.customFileUpload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 20px;
}

.mainPhoto {
    max-width: 150px;
    border-radius: 100%;
    border: 3px solid #303030;
}

.contact {
    padding-left: 10px;
}