.descriptionBlock {
    display: flex;
}

.photoBlock {
    display: flex;
    flex-direction: column;
}

.choosePhoto {
    margin-top: 15px;
}

.mainPhoto {
    max-width: 200px;
    border-radius: 100%;
    margin-bottom: 15px;
}

.contact {
    padding-left: 10px;
}